<% @personal_records.each do |personal_record|%>
  <div>
    <h1><%= personal_record.exercise %></h1>
    <p><%= personal_record.weight %> kg</p><br />
    <p><%= personal_record.date %></p><br />
  </div>
<hr/>
<% end %>